<header class="header-container">
    <picture class="logo-container">
        <img id="imagem-logo" src="/logo_elitedrive.png" alt="logo-eliteDrive-png">
    </picture>

    <ul class="lista-menu-container">
        <li class="item-menu">Como funciona</li>
        <li class="item-menu">Vantagens</li>
        <li class="item-menu">Segurança</li>
    </ul>
    
    <div class="btn-container">
        <button class="btn-header" id="btn-entrar">Entrar</button>
        <button class="btn-header" id="btn-cadastrar">Criar Conta</button>
    </div>
</header>
