header.cabecalho-principal {
  background-color: var(--corPrincipalHeader);
  height: 70px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 1px 1px 10px 1px #ff8c002b;
  transition: all 0.3s ease;
}

picture.img-container {
  margin-left: -60px;
  display: inline-block;
  width: 280px;
  height: 60px;
  overflow: hidden;
}

img.img-logo {
  width: 100%;
  height: 100%;
  padding-top: 2px;
  object-fit: contain;
  transform: scale(2.2);
}

.navbar-nav {
  margin-right: 12%;
  gap: 16px;
}

.nav-link {
  color: var(--brancoPuro) !important;
  font-size: 1.01rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--laranjaVibranteNeon) !important;
}

.btn-entrar {
  color: var(--brancoPuro);
  border: 1px solid var(--azulEletricoNeon);
  box-shadow: 0 0 2px var(--azulEletricoNeon);
  transition: all 0.3s ease;
}

.btn-entrar:hover {
  color: var(--azulEletricoNeon);
  box-shadow: 0 0 10px var(--azulEletricoNeon);
}

.btn-criar-conta {
  background: rgba(255, 140, 0, 0.08);
  color: var(--brancoPuro);
  border: 1px solid var(--laranjaVibranteNeon);
  box-shadow: 0 0 2px var(--laranjaVibranteNeon);
  transition: all 0.3s ease;
}

.btn-criar-conta:hover {
  color: var(--laranjaVibranteNeon);
  box-shadow: 0 0 10px var(--laranjaVibranteNeon);
}

.menu-suspenso-personalizado {
  background-color: var(--azulMarinhoEscuro);
  background: #0d1b2ae4;
  border: 1px solid var(--corPrincipalHeader);
    margin-top: 14px;
    margin-right: -64px;
}

.menu-suspenso-personalizado .dropdown-item-passageiro {
  color: var(--brancoPuro);
  width: 280px;
  border: 1px solid var(--azulEletricoNeon);
  border-radius: 8px;
  text-align: center;
}

.menu-suspenso-personalizado .dropdown-item-passageiro:hover {
  background-color: var(--azulEletricoNeon);
  color: var(--brancoPuro);
  box-shadow: 0 0 10px var(--azulEletricoNeon);
}

.menu-suspenso-personalizado .dropdown-item-motorista {
  color: var(--brancoPuro);
  width: 280px;
  border: 1px solid var(--laranjaVibranteNeon);
  border-radius: 8px;
  text-align: center;
}

.menu-suspenso-personalizado .dropdown-item-motorista:hover {
  background-color: var(--laranjaVibranteNeon);
  color: var(--brancoPuro);
  box-shadow: 0 0 10px var(--laranjaVibranteNeon);
}

.dropdown-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  border-color: var(--laranjaVibranteNeon)!important;box-shadow: 0 0 10px var(--laranjaVibranteNeon);
}

.navbar-toggler:focus {
  box-shadow: 0 0 10px var(--laranjaVibranteNeon) !important;
}

.navbar-toggler-icon {
  filter: invert(59%) sepia(80%) saturate(2256%) hue-rotate(1deg) brightness(103%) contrast(105%) !important;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: var(--azulMarinhoEscuro);
    border-radius: 8px;
    padding: 1.1rem;
    border: 1px solid var(--azulEletricoNeon);
    opacity: 0.98;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .navbar-nav {
    align-items: flex-start !important;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .nav-link {
    padding-left: 0 !important;
  }

  .area-botoes {
    align-items: flex-start !important;
    width: 100%;
    margin-top: 0.5rem;
  }

  .btn-entrar,
  .dropdown {
    width: 80px;
    text-align: center;
  }

  .btn-criar-conta {
    width: auto !important;
    display: inline-block;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .menu-suspenso-personalizado {
    position: static !important;
    width: 320px;
    float: none !important;
    background-color: var(--corPrincipalHeader) !important;
    border: none !important;
    border-left: 2px solid var(--laranjaVibranteNeon) !important;
    margin-top: 0.5rem !important;
    border-radius: 0 4px 4px 0 !important;
    padding-left: 0.5rem !important;
  }
}
