<h2>Cadastre-se</h2>

<form [formGroup]="formulario" (ngSubmit)="cadastrar()">
  <div>
    <input type="text" placeholder="Digite seu nome *" formControlName="nome" id="" />
    @if (formulario.get('nome')?.invalid && formulario.get('nome')?.touched) {
      <small class="texto-alerta"> Por favor, digite seu nome</small>
    }

    <input type="text" placeholder="Digite seu CPF *" formControlName="cpf" id="" />
    @if (formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched) {
      @if (formulario.get('cpf')?.hasError('required')) {
        <small class="texto-alerta">Por favor, digite seu CPF</small>
      }
      @if (formulario.get('cpf')?.hasError('minlength')) {
        <small class="texto-alerta">O CPF precisa conter 11 dígitos</small>
      }
    }

    <input type="tel" placeholder="Digite seu telefone *" formControlName="telefone" id="" />
    @if (formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched) {
      <small class="texto-alerta">Por favor, digite seu telefone</small>
    }

    <input type="email" placeholder="Digite seu e-mail *" formControlName="email" id="" />
    @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
      <small class="texto-alerta">Por favor, digite seu e-mail</small>
    }

    <input type="password" placeholder="Digite sua senha *" formControlName="senha" id="" />
    @if (formulario.get('senha')?.invalid && formulario.get('senha')?.touched) {
      @if (formulario.get('senha')?.hasError('required')) {
        <small class="texto-alerta">Por favor, digite sua senha</small>
      }
      @if (formulario.get('senha')?.hasError('minlength')) {
        <small class="texto-alerta">A senha precisa conter mais de 6 caracteres</small>
      }
    }

    <p>Adicione uma foto de Perfil: *</p>
    <input type="file" accept="image/*" (change)="selecionarFoto($event)" />
    @if (formulario.get('foto')?.invalid && (formulario.get('foto')?.dirty || formulario.touched)) {
      <small class="texto-alerta">Por favor, adicione uma foto de perfil</small>
    }
    @if (formulario.get('foto')?.value) {
      <div class="foto-perfil-container">
        <img [src]="formulario.get('foto')?.value" alt="Foto de perfil" class="foto-perfil" />
      </div>
    }
  </div>
  <button type="submit">Cadastrar</button>
</form>
