<section class="container-principal">
  <div class="text-container">
    <h2 class="subtitulo">Criar Conta</h2>
    <p class="subtitulo-descricao">
      Preencha seus dados para realizar seu cadastro e começar a solicitar corridas
    </p>
  </div>
  <picture class="imagem-container">
    <img
      class="imagem-page"
      src="imagem_tela_cadastro_passageiro_4k.png"
      alt="Imagem-carro-layout"
    />
  </picture>

  <form class="formulario-container" [formGroup]="formulario" (ngSubmit)="cadastrar()">
    <div class="campos-formulario-container">
      <div
        class="grupo-campos-formulario"
        [class.invalid]="formulario.get('nome')?.invalid && formulario.get('nome')?.touched"
      >
        <label class="formulario-label">Nome Completo *</label>
        <input
          type="text"
          placeholder="Digite seu nome"
          formControlName="nome"
          class="texto-input"
        />
        @if (formulario.get('nome')?.invalid && formulario.get('nome')?.touched) {
          <small class="mensagem-erro">Por favor, digite seu nome</small>
        }
      </div>

      <div
        class="grupo-campos-formulario"
        [class.invalid]="formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched"
      >
        <label class="formulario-label">CPF *</label>
        <input type="text" placeholder="000.000.000-00" formControlName="cpf" class="texto-input" />
        @if (formulario.get('cpf')?.invalid && formulario.get('cpf')?.touched) {
          @if (formulario.get('cpf')?.hasError('required')) {
            <small class="mensagem-erro">Por favor, digite seu CPF</small>
          }
          @if (formulario.get('cpf')?.hasError('minlength')) {
            <small class="mensagem-erro">O CPF precisa conter 11 dígitos</small>
          }
        }
      </div>

      <div
        class="grupo-campos-formulario"
        [class.invalid]="formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched"
      >
        <label class="formulario-label">Telefone *</label>
        <input
          type="tel"
          placeholder="(71) 99999-9999"
          formControlName="telefone"
          class="texto-input"
        />
        @if (formulario.get('telefone')?.invalid && formulario.get('telefone')?.touched) {
          <small class="mensagem-erro">Por favor, digite seu telefone</small>
        }
      </div>

      <div
        class="grupo-campos-formulario"
        [class.invalid]="formulario.get('email')?.invalid && formulario.get('email')?.touched"
      >
        <label class="formulario-label">E-mail *</label>
        <input
          type="email"
          placeholder="seu-email@dominio.com"
          formControlName="email"
          class="texto-input"
        />
        @if (formulario.get('email')?.invalid && formulario.get('email')?.touched) {
          <small class="mensagem-erro">Por favor, digite seu e-mail</small>
        }
      </div>

      <div
        class="grupo-campos-formulario"
        [class.invalid]="formulario.get('senha')?.invalid && formulario.get('senha')?.touched"
      >
        <label class="formulario-label">Senha *</label>
        <input
          type="password"
          placeholder="Digite sua senha"
          formControlName="senha"
          class="texto-input"
        />
        @if (formulario.get('senha')?.invalid && formulario.get('senha')?.touched) {
          @if (formulario.get('senha')?.hasError('required')) {
            <small class="mensagem-erro">Por favor, digite sua senha</small>
          }
          @if (formulario.get('senha')?.hasError('minlength')) {
            <small class="mensagem-erro">A senha precisa conter mais de 6 caracteres</small>
          }
        }
      </div>

      <div class="grupo-campos-formulario">
        <label class="formulario-label formulario-foto">Foto de Perfil *</label>
        <input
          type="file"
          accept="image/*"
          (change)="selecionarFoto($event)"
          class="input-foto"
          id="fotoPerfil"
        />
        <label for="fotoPerfil" class="mensagem-arquivo-foto formulario-foto">
          Escolher Imagem
        </label>

        @if (formulario.get('foto')?.invalid && formulario.get('foto')?.touched) {
          <small class="mensagem-erro">Por favor, adicione uma foto de perfil</small>
        }

        @if (formulario.get('foto')?.value) {
          <div class="foto-container">
            <img [src]="formulario.get('foto')?.value" alt="Foto de perfil" class="foto-perfil" />
          </div>
        }
      </div>
      <div class="grupo-checkbox" [class.invalid]="formulario.get('aceitaTermos')?.invalid && formulario.get('aceitaTermos')?.touched">
  <div class="checkbox-container">
    <input type="checkbox" formControlName="aceitaTermos" id="termos" />
    <label for="termos" class="formulario-label">
      Li e aceito os <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank">Termos de Uso e LGPD</a>
    </label>
  </div>
  @if (formulario.get('aceitaTermos')?.invalid && formulario.get('aceitaTermos')?.touched) {
    <small class="mensagem-erro">Você precisa aceitar os termos</small>
  }
</div>

      <div class="btn-container">
        <button type="submit" class="btn-finalizar-cadastro">Finalizar Cadastro</button>
      </div>
    </div>
  </form>
  @if (exibirModal) {
    <div class="modal-overlay">
      <div class="modal-conteudo">
        <h3>{{ tituloModal }}</h3>
        <p>{{ mensagemModal }}</p>
        <div class="modal-acoes">
          <button class="btn-fechar" (click)="fecharModal()">Fechar</button>
          @if (!isErro) {
            <button class="btn-login" (click)="irParaLogin()">Ir para Login</button>
          }
        </div>
      </div>
    </div>
  }
</section>
