h2{
  text-align: center;
  font-family: 'Inter', 'Roboto', sans-serif;
  color: #2d3436c3;
  letter-spacing: 0.5px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 6px;
  gap: 5px;
}

div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  gap: 6px;
}

small.texto-alerta{
  align-self: flex-end;
  color: rgba(255, 0, 0, 0.578);
}

input {
  border: 0.5px solid #DFE6ED;
  border-radius: 8px;
  height: 24px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  font-size: 0.7rem;
  padding-left: 8px;
}

input:focus{
  outline: none;
  border: 0.5px solid #0984E3;
  box-shadow: 0 0 0 3px rgba(9, 133, 227, 0.269);
}

button {
  align-self: flex-end;
  background-color: #00B894;
  transition: background-color 0.2s ease-in-out;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 100px;
  width: 100px;
  height: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover{
  background-color: #00A884 ;
}

p{
  color: #2d3436c3;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-left: 4px;
}

div.foto-perfil-container{
  align-self: flex-end;
  border: none;
  padding: 0"
}

img.foto-perfil{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00B894;
  box-shadow: 0 4px 20px rgba(0, 184, 148, 0.2);
  margin: 10px auto;
  display: block;
}
