<footer class="rodape-principal">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-4"
  >
    <div class="area-logo">
      <picture class="img-container-footer">
        <img class="img-logo-footer" src="/logo_elitedrive.png" alt="EliteDrive Logo" />
      </picture>
    </div>

    <div class="area-copyright text-center">
      <p class="m-0">&copy; 2026 EliteDrive. Todos os direitos reservados.</p>
      <span class="texto-dev"
        >Desenvolvido por <strong>Willis Marques </strong><i class="bi bi-person-workspace"></i
      ></span>
    </div>

    <div class="area-dev d-flex flex-column align-items-center align-items-md-end gap-1">
      <div class="redes-dev d-flex gap-3">
        <span class="texto-dev">Contato:</span>
        <a
          href="https://www.linkedin.com/in/willis-silva-marques-53a306aa/"
          target="_blank"
          class="link-rede"
          title="LinkedIn"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <span class="texto-dev">Repositório:</span>
        <a href="https://github.com/WilMarques05" target="_blank" class="link-rede" title="GitHub">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
