<div class="container-cards-vantagens">
    
  <div class="card-vantagens card-laranja">
    <img class="icone-vantagens" src="/icone_gps.png" alt="icone de um gps">
    <p class="titulo-card-vantagens">Mobilidade inteligente</p>
    <p class="descricao-card-vantagens">Menos deslocamentos ociosos, mais eficiência e sustentabilidade.</p>
  </div>
  
  <div id="card-violeta" class="card-vantagens">
    <img class="icone-vantagens" src="/icone_seguranca.png" alt="icone segurança">
    <p class="titulo-card-vantagens">Segurança Comprovada</p>
    <p class="descricao-card-vantagens">Motoristas verificados, avaliações reais e suporte <br>24 horas.</p>
  </div>

  <div class="card-vantagens card-azul">
    <img class="icone-vantagens" src="/icone_relogio.png" alt="icone de um relógio">
    <p class="titulo-card-vantagens">Flexibilidade <br>total</p>
    <p class="descricao-card-vantagens">Agende com antecedência e altere quando precisar, sem complicações.</p>
  </div>

  <div class="card-vantagens card-laranja">
    <img class="icone-vantagens" src="/icone_carteira.png" alt="icone de uma carteira">
    <p class="titulo-card-vantagens">Mais ganhos para motoristas</p>
    <p class="descricao-card-vantagens">Viagens agendadas significam mais oportunidades.</p>
  </div>

  <div class="card-vantagens card-azul">
    <img class="icone-vantagens" src="/icone_carro.png" alt="icone de um carro">
    <p class="titulo-card-vantagens">Conforto <br>premium</p>
    <p class="descricao-card-vantagens">Veículos de qualidade para viagens mais agradáveis.</p>
  </div>
    
  <div id="card-amarelo" class="card-vantagens">
    <img class="icone-vantagens" src="/icone_estrela.png" alt="icone de uma estrela">
    <p class="titulo-card-vantagens">Experiência exclusiva</p>
    <p class="descricao-card-vantagens">Atendimento dedicado para passageiros exigentes.</p>
  </div>

</div>
